/* Digital font */
@font-face {
	font-family: "Digital";
	src: url("res/Digital-7.woff") format("woff"),
	url("res/Digital-7.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

html, body {
	width: 250px;
	height: 350px;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
}

body {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	background-color: #2B2B2B;
}

.body-flex {
	display: flex;
	flex-direction: column;
}

p {
	margin: 3% 5% 2% 5%;
	text-align: center;
	font-size: 1em;
}

.spb_icon {
	width: 64px;
	opacity: 0.4;
}

.info_icon {
	width: 32px;
	opacity: 0.4;
}

.time-container {
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.timer-background {
	width: 90%;
	padding: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #1B1B1B;
	border-radius: 7px;
}

.timer {
	font-family: "Digital";
	font-size: 3em;
	line-height: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-radius: 10px;
	background-color: #500104;
}

.flex-container {
	display: flex;
	flex-grow: 5;
	flex-direction: row;
	height: 100%;
}

.sidePanel {
	display: flex;
	flex-direction: column;
	flex: 0 0 64px;
}

.sidePanel-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-color: #606060;
	margin-bottom: 8px;
	box-shadow: 0 8px #505050;
	cursor: pointer;
}

.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex: 0 1 auto;
}

.hidden {
	display: none;
}

#page_two {
	display: none;
}

.button{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	cursor: pointer;
	min-height: 15%;
}

.add, .clear, .clearTime, .unblacklist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #BFBEBE;
}

.add:hover, .clear:hover, .clearTime:hover, .unblacklist:hover {
	background-color: #EDECEC;
}

.blacklist {
	background-color: #B89A9A;
}

.blacklist:hover {
	background-color: #DEC8C8;
}

.reset {
	background-color: #FBFBC9;
}

.reset:hover {
	background-color: #EAEA9D;
}
