html, body {
	width: 250px;
	margin: 0;
	padding: 0;
	border: 0;
}

hr {
	width: 100%;
	height: 2px;
	border: 0 none;
	margin: 0px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	background-color: #82B5D1;
}

.sidePanel {
	display: flex;
	flex-direction: column;
	flex: 0 0 64px;
	margin-right: 10px;
	cursor: pointer;
}

.sidePanel-button {
	flex: 1;
	flex-grow: 1;
	background-color: #B4D8EB;
}

.hidden {
	display: none;
}

#page_two {
	display: none;
}

.button {
	width: 90%;
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

.add {
	background-color: #E5F2F2;
}

.add:hover {
	background-color: #CFF2F2;
}

.clearTime, .unblacklist {
	background-color: #E5F2F2;
}

.clearTime:hover, .unblacklist:hover {
	background-color: #CFF2F2;
}

.blacklist {
	background-color: #FFAAAA;
}

.blacklist:hover {
	background-color: #D76E6E;
}

.clear {
	background-color: #E5F2F2;
}

.clear:hover {
	background-color: #CFF2F2;
}


.reset {
	background-color: #FBFBC9;
}

.reset:hover {
	background-color: #EAEA9D;
}
